:root {
	--catalogue-width: 1280px;
	--catalogue-tab-btn-height: 85px;
	--color-primary: #ffe100;
	--color-border: #e2e2e2;
	--banner-height: 374.45px;
	--def-padding: 20px;
	--def-transition: all 300ms ease-in-out;
	--header-height: 72px;
	--header-width: 1000px;
	--nav-main-height: 42px;
	--nav-main-width: calc(1000px - 2 * var(--def-padding));
}

/* -------------------------------- Semantic -------------------------------- */
a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: underline;
}

header {
	display: flex;
	width: 100%;
	justify-content: center;
}

/* ---------------------------------- Class --------------------------------- */

.banner {
	width: 100%;
}

.banner-img {
	height: 100%;
	width: 100%;
}

.catalogue {
	align-items: center;
	display: flex;
	flex-basis: var(--catalogue-width);
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	margin: auto;
	padding-left: var(--def-padding);
	padding-right: var(--def-padding);
	padding-top: 60px;
}

.catalogue-wrapper {
	display: flex;
	width: 100%;
}

.ctl-header {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	flex-wrap: nowrap;
	justify-content: stretch;
	width: 100%;
}

.ctl-tabs {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: auto;
}

.ctl-tabs button {
	background-color: transparent;
	border-bottom: solid 2px var(--color-border) !important;
	border: solid 2px transparent;
	color: #000;
	cursor: pointer;
	flex-basis: 1;
	font-size: 16px;
	font-weight: 400;
	height: var(--catalogue-tab-btn-height);
	padding-bottom: auto !important;
	padding: 11px var(--def-padding) 11px var(--def-padding);
	transition: var(--def-transition);
}

.ctl-tabs button:hover {
	text-decoration: underline;
}

.ctl-tabs .is-selected button {
	border-bottom: solid 2px transparent !important;
	border-top: solid 5px var(--color-primary) !important;
	border: solid 2px var(--color-border);
	transition: var(--def-transition);
}

.ctl-side {
	border-bottom: solid 2px var(--color-border) !important;
	border: none;
	height: var(--catalogue-tab-btn-height) - 2px; /* 2px is the border's width */
	width: 5%;
}

.header-content {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding-left: var(--def-padding);
	padding-right: var(--def-padding);
	flex-basis: var(--header-width);
}

.header-logo {
	width: 68px;
}

.header-search {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-end;
}

.header-search * {
	margin: 0;
	margin-bottom: 5px;
}

.nav-main {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	height: var(--nav-main-height);
	justify-content: flex-start;
	width: var(--nav-main-width);
}

.nav-main ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.nav-main ul li {
	display: inline-block;
}

.nav-main ul li button {
	background-color: transparent;
	border: solid 2px transparent;
	color: #000;
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
	height: var(--nav-main-height);
	padding: 11px var(--def-padding) 11px var(--def-padding);
	padding-bottom: auto !important;
	transition: var(--def-transition);
}

.nav-main ul li button:hover {
	border-bottom: solid 5px var(--color-primary);
	transition: var(--def-transition);
}

.nav-main-wrapper {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	width: 100%;
}

/* ----------------------------------- ID ----------------------------------- */
#nav-divider {
	background-image: linear-gradient(to bottom, var(--color-border), transparent);
	height: 5px;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

/* -------------------------------- Override -------------------------------- */
