/* Linked to: T/midterm/index.html */

:root {
	--content-width: 1280px;
	--catalogue-tab-btn-height: 85px;
	--color-primary: #ffe100;
	--color-border: #e2e2e2;
	--color-link: #0014cc;
	--banner-height: 374.45px;
	--def-padding: 20px;
	--def-transition: all 300ms ease-in-out;
	--header-height: 72px;
	--header-width: 1000px;
	--nav-main-height: 42px;
	--nav-main-width: calc(1000px - 2 * var(--def-padding));
}

/* -------------------------------- Semantic -------------------------------- */
a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: underline;
}

body {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

header {
	display: flex;
	width: 100%;
	justify-content: center;
}

/* ---------------------------------- Class --------------------------------- */

.banner {
	width: 100%;
}

.banner-img {
	height: 100%;
	width: 100%;
}

.catalogue.content-grid {
	grid-template-columns: repeat(5, 1fr);
}

.catalogue.content-wrapper {
	padding-top: 45px;
}

.catalogue-header {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	flex-wrap: nowrap;
	justify-content: stretch;
	width: 111%;
}

.catalogue-tab button {
	background-color: transparent;
	border-bottom: solid 2px var(--color-border) !important;
	border: solid 2px transparent;
	color: #000;
	cursor: pointer;
	flex-grow: 1;
	font-size: 16px;
	font-weight: 400;
	padding-bottom: auto !important;
	padding: 11px var(--def-padding) 11px var(--def-padding);
	transition: var(--def-transition);
}

.catalogue-tab button:hover {
	text-decoration: underline;
}

.catalogue-tab.is-selected button {
	border-bottom: solid 2px transparent !important;
	border-top: solid 5px var(--color-primary) !important;
	border: solid 2px var(--color-border);
	transition: var(--def-transition);
}

.catalogue-tab.is-selected button:hover {
	text-decoration: none;
	cursor: default !important;
}

.catalogue-tabs {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	flex-wrap: nowrap;
	justify-content: center;
	width: auto;
	height: var(--catalogue-tab-btn-height);
}

.catalogue-tabs > * {
	display: flex;
	flex-wrap: nowrap;
	flex-grow: 1;
	justify-content: center;
	width: auto;
}

.catalogue-side {
	border-bottom: solid 2px var(--color-border) !important;
	border: none;
	height: var(--catalogue-tab-btn-height) - 2px; /* 2px is the border's width */
	width: 5%;
}

.content-block {
	align-items: center;
	display: flex;
	flex-basis: var(--content-width);
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	margin: auto;
	padding: 60px var(--def-padding) 35px var(--def-padding);
}

.content-block-wrapper {
	display: flex;
	width: 100%;
}

.content-divider {
	border-bottom: solid 2px var(--color-border) !important;
	border: none;
	height: 0px;
	margin: 0px;
	padding: 0px;
	width: var(--content-width);
}

.content-list {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.content-list-item {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	margin: 0px;
	padding: 0px;
}

.content-grid {
	display: grid;
	gap: var(--def-padding);
}

.content-grid-item {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	padding-bottom: var(--def-padding);
	padding-top: var(--def-padding);
}

.content-grid-item img {
	height: 100%;
	margin-bottom: var(--def-padding);
	width: 100%;
}

.content-grid-item.card {
	background-image: linear-gradient(to bottom, var(--color-border), #f9fafa);
}

.content-grid-item.card h3 {
	padding: 5px;
	text-align: center;
}

.content-grid-item.post {
	align-items: flex-start;
	justify-content: flex-start;
}

.content-grid-item.post:hover {
	text-decoration: none;
}

.content-grid-item.post img {
	flex-basis: 185px;
	flex-shrink: 1;
	object-fit: cover;
}

.content-grid-item.post h3 {
	margin: 0px;
	color: var(--color-link);
	padding: var(--def-padding) 0px var(--def-padding) 0px;
}

.content-grid-item.post h3:hover {
	text-decoration: underline;
}

.content-grid-item.post p:hover {
	text-decoration: none;
}

.content-wrapper {
	display: flex;
	flex-basis: 1;
	flex-shrink: 1;
	margin: auto;
}

.header-content {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding-left: var(--def-padding);
	padding-right: var(--def-padding);
	flex-basis: var(--header-width);
}

.header-logo {
	width: 68px;
}

.header-search {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-end;
}

.header-search * {
	margin: 0;
	margin-bottom: 5px;
}

.nav-main-wrapper {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	width: 100%;
}

.nav-main {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	height: var(--nav-main-height);
	justify-content: flex-start;
	width: var(--nav-main-width);
}

.nav-main ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.nav-main ul li {
	display: inline-block;
}

.nav-main ul li button {
	background-color: transparent;
	border: solid 2px transparent;
	color: #000;
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
	height: var(--nav-main-height);
	padding: 11px var(--def-padding) 11px var(--def-padding);
	padding-bottom: auto !important;
	transition: var(--def-transition);
}

.nav-main ul li button:hover {
	border-bottom: solid 5px var(--color-primary);
	transition: var(--def-transition);
}

.news.content-block hr {
	border: none;
	border-bottom: solid 1px var(--color-border);
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.news.content-list-item a {
	color: var(--color-link);
}

.news.content-list-item .date {
	flex: 0 0 126px;
}

.news.content-list-item > * {
	margin: var(--def-padding);
}

.news.content-list-item.more .date {
	flex: 0 0 0px;
	margin: 0px;
}

.news.content-wrapper {
	width: 100%;
}

.pickup.content-block-wrapper {
	background-color: #f4f4f4;
}

.pickup.content-grid {
	grid-template-columns: repeat(3, 1fr);
}

.pickup.content-grid-item.post img {
	flex-basis: 252px;
}

.topics.content-grid {
	grid-template-columns: repeat(4, 1fr);
}

/* ----------------------------------- ID ----------------------------------- */
#nav-divider {
	background-image: linear-gradient(to bottom, var(--color-border), transparent);
	height: 5px;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

/* -------------------------------- Override -------------------------------- */

/* Banner image */
@media screen and (max-width: 960px) {
	.banner img {
		content: url(https://www.nikon.com/img/index/kv_03_en.jpg);
	}
}

/* Catalogue grid */
@media screen and (max-width: 768px) {
	.catalogue.content-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}
