.jumbotron .container{
    background: #00000057;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    font-weight: bolder;
}

.display-4 {
    font-size: 3.5rem;
    font-weight: bolder;
    line-height: 1.2;
}