header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-content: center;
}

nav ul li {
    display: inline-block;
    margin: 0px 5px;
    padding: 5px;
}

nav ul li:hover {
    background: lightblue;
    animation: ease-in-out;
}

a {
    color: black;
    text-decoration: none;
}

.banner-back {
    width: 100%;
    height: 70vh;
    margin: 0px;
    padding: 0px;
    background-image: url(../src/images/11.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.banner-front {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-image: url(../src/images/8.png);
    background-size: 80%;
    background-position-x: right;
    background-position-y: 10%;
    background-repeat: no-repeat;
}

.ball.blue {
    position: absolute;
    right: 5%;
    background-color: lightblue;
}

.ball.green {
    background-color: lightgreen;
}

.ball.orange {
    background-color: orange;
    position: relative;
    left: 50%;
    top: 50%;
}

.ball.red {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: red;
}

.container.float {
    overflow: auto;
}

.col-3 {
    margin: 1%;
    padding: 1%;
    height: 175px;
    float: left;
    width: 29%;
}