.jumbotron {
	background: url(./images/bg.jpg) no-repeat center center;
	background-size: cover;
}

.jumbotron h1,
.jumbotron p {
	text-shadow: 2px 2px 4px #000000;
}

.card-img-top {
	width: 100%;
	height: 250px;
	object-fit: cover;
}
